
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body>
    <header>
        <%- include('../../partials/header') %>
    </header>

    <main>
          <% searchResults.forEach(band =>{ %>
            <div id="bands-results">
              <h3><%= band.bandname %></h3>
              <p id="description"><%= band.description %></p>
              <iframe src="<%= band.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <button id= "<%= band.bandname %>" class="band-item"><a href="/bands/<%= band.bandname %>">See Upcoming Events</a></button>
            </div>

          <% }) %> 
          
    </main>

    <footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script> 
          $('.band-item').on('click', function() {
            console.log(this.id);
          });
        </script>
    </footer>
    
</body>
</html>