<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body>
    <header>
        <%- include('../../partials/header') %>
    </header>

    <main>

        <div id="band-events">
          <img src=<%= eventResults[0].image %>>
          <% eventResults.forEach(event =>{ %>

            <ul id="single-event">
              <li id="eventName"><%= event.eventName %></li>
              <li id="venue"><%= event.venue %></li>
              <li id="date">Date: <%= event.date %></li>
              <li id="time">Doors: <%= event.startTime %></li>
              <li id="eventURL"><a href=<%= event.eventURL %>>Buy Tickets</a></li>
              <button id="add-to-calendar">Add to My Events</button>
            </ul>

          <% }) %>  
        </div>

    </main>

    <footer>
        <%- include('../../partials/footer') %>
    </footer>
    
</body>
</html>