<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body>
    <header>
        <%- include('../../partials/header') %>
    </header>

    <main>

        <div id="band-events">
          <img src=<%= eventResults[0].image %>>
          <% eventResults.forEach(event =>{ %>

            <ul id="single-event">
              <li id="eventName"><%= event.eventName %></li>
              <li id="venue"><%= event.venue %></li>
              <li id="date">Date: <%= event.date %></li>
              <li id="time">Doors: <%= event.startTime %></li>
              <li id="eventURL"><a href=<%= event.eventURL %>>Buy Tickets</a></li>
              
            </ul>
            <div>
              <form action="/add" method="post">
                <fieldset>
                  <input type="text" name="eventName" value="<%= event.eventName%>" placeholder="<%= event.eventName%>" hidden/>
                  <input type="text" name="eventURL" value="<%= event.eventURLr%>" placeholder="<%= event.eventURLr%>" hidden/>
                  <input type="text" name="image" value="<%= event.image%>" placeholder="<%= event.image%>" hidden/>
                  <input type="text" name="date" value="<%= event.date%>" placeholder="<%= event.date%>" hidden>
                  <input type="text" name="startTime" value="<%= event.startTime%>" placeholder="<%= event.startTime%>" hidden>
                  <input type="text" name="venue" value="<%= event.venue%>" placeholder="<%= event.venue%>" hidden>
                  <button id="add-to-calendar">Add to My Events</button>
                </fieldset>
              </form>
            </div> 
          <% }) %> 
        </div>

    </main>

    <footer>
        <%- include('../../partials/footer') %>
    </footer>
    
</body>
</html>